/*** COLOR ***/
.user-mgmt-bg-style,
.bg-over.user-mgmt-bg-style {
  background-color: #4B88A2;
}
.user-mgmt-bg-style.btn:hover, .user-mgmt-bg-style.btn:focus,
.bg-over.user-mgmt-bg-style.btn:hover,
.bg-over.user-mgmt-bg-style.btn:focus {
  background-color: #3b6b7f;
}

.user-mgmt-fg-style {
  color: #4B88A2 !important;
}

.user-mgmt .k-tabstrip .k-state-active {
  border-color: #4B88A2;
}

.user-mgmt .k-tabstrip .k-tabstrip-items .k-state-hover,
.user-mgmt .k-tabstrip .k-tabstrip-items .k-state-hover:hover {
  background: #4B88A2;
}

.permissions-tabstrap.permissions-tabstrap-sidebar .k-content {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 49px;
  overflow-y: auto;
}
.permissions-tabstrap.permissions-tabstrap-has-search .k-content {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.permissions-tabstrap.permissions-tabstrap-has-search .k-treeview {
  padding-left: 0.92em;
  padding-right: 0.92em;
}
.permissions-tabstrap.permissions-tabstrap-has-search .k-tabstrip-items .k-state-active {
  background: #e0e0e0;
}

/*** user access management SPECIFIC STYLES */
.user-mgmt {
  /* user access management grid style */
}
.user-mgmt .k-grid-header {
  border-color: #4B88A2;
  background-color: #4B88A2;
}
.user-mgmt .k-grouping-header .k-group-indicator {
  background-color: #4B88A2;
}
.user-mgmt .k-grid-content .k-grouping-row td[colspan] {
  border-left-color: #8ab6c9;
  border-top-color: #8ab6c9;
}
.user-mgmt .k-grid-content .k-group-cell {
  border-left-color: #adccd9 !important;
  border-top-color: #adccd9;
}
.user-mgmt .k-grid-content .k-group-cell + td[colspan] {
  border-left-color: #adccd9 !important;
  border-top-color: #adccd9;
}
.user-mgmt .k-grid-content .k-group-cell + .k-group-cell {
  border-left-color: #bed7e1 !important;
  border-top-color: #bed7e1;
}
.user-mgmt .k-grid-content .k-group-cell + .k-group-cell + td[colspan] {
  border-left-color: #bed7e1 !important;
  border-top-color: #bed7e1;
}
.user-mgmt .k-grid-content .k-group-cell + .k-group-cell + .k-group-cell {
  border-left-color: #d0e2e9 !important;
  border-top-color: #d0e2e9;
}
.user-mgmt .k-grid-content .k-master-row:not(.collapsed-group) .k-hierarchy-cell {
  border-left-color: #8ab6c9;
}
.user-mgmt .k-grid-content .k-detail-row .k-hierarchy-cell {
  border-left-color: #adccd9 !important;
}
.user-mgmt .btn-aside .btn-large {
  background-color: #4B88A2;
}
.user-mgmt .btn-aside .btn-large:hover, .user-mgmt .btn-aside .btn-large:focus {
  background-color: #3b6b7f;
}
