<div class="search-filter-box">
    <div class="search-box clearfix" ng-class="{active:isSearchFocus}">
        <form ng-submit="searchModel.SearchKey && searchText()" class="gap-m0">
            <button type="submit" class="btn btn-success search-bg-style pull-right"
                    title="Search text">
                <i class="icon-search"></i>
            </button>
            <button type="button" class="pull-right" ng-attr-title="{{resources.SearchCriteria}}" toggle-popover="activeSearchConfig.searchCriteriaBox">
                <i class="icon-caret-down"></i>
            </button>
            <button type="button" class="pull-right" ng-attr-title="{{resources.Clear}}" ng-if="searchModel.SearchKey.length > 0" ng-click="searchModel.SearchKey=''; searchText()">
                <i class="icon-times"></i>
            </button>
            <span class="key-field has-dropbox">
                <input type="text" ng-model="searchModel.SearchKey" placeholder="Search Text" ng-focus="isSearchFocus=true" ng-blur="isSearchFocus=false" />
            </span>
        </form>
    </div>
    <div class="white-box gap-p0 search-white-box" ng-class="{'open': activeSearchConfig.searchCriteriaBox}" stop-prop>
        <div class="content-box layout-container w-1of1">
            <div class="gap-left-right-p20 content-title clearfix content-type">
                <div class="radio-toolbar gap-top-m5" ng-init="searchTplType = 'filters'">
                    <input type="radio" id="radio1" name="radios" value="filters" ng-model="searchTplType">
                    <label for="radio1" class="radio">Filters</label>

                    <input type="radio" id="radio2" name="radios" value="fields" ng-model="searchTplType">
                    <label for="radio2" class="radio">Fields</label>

                    <input type="radio" id="radio3" name="radios" value="saved" ng-model="searchTplType">
                    <label for="radio3" class="radio">Saved Search</label>

                    <input type="radio" id="radio4" name="radios" value="recently" ng-model="searchTplType">
                    <label for="radio4" class="radio">Recently Used</label>

                    <div class="pull-right">
                        <button class="btn btn-danger" type="button">Clear</button>
                    </div>
                </div>

            </div>
            <div class="content-wrap" ng-show="searchTplType == 'filters'" ng-include=" 'templates/generic-search-filters-template.html' " ng-animate="'animate'">
            </div>
            <div class="content-wrap" ng-show="searchTplType == 'fields'" ng-include=" 'templates/generic-search-fields-template.html' " ng-animate="'animate'">
            </div>
            <div class="content-wrap" ng-show="searchTplType == 'saved'" ng-include=" 'templates/generic-search-saved-template.html' " ng-animate="'animate'">
            </div>
            <div class="content-wrap" ng-show="searchTplType == 'recently'" ng-include=" 'templates/generic-search-recently-used-template.html' " ng-animate="'animate'">
            </div>
        </div>
    </div>
</div>
