<div class="inline-block">
    <ul class="inline top-icons gap-m0">
        <li class="clickable" ng-show="button.error" ng-click="showNotification('error')"><span class="error-fg-style pw-icon-error"></span></li>
        <li class="clickable" ng-show="button.info" ng-click="showNotification('info')"><span class="info-fg-style pw-icon-information"></span></li>
        <li class="clickable" ng-show="button.warning" ng-click="showNotification('warning')"><span class="warning-fg-style pw-icon-warning"></span></li>
        <li class="notify-bg-style white clickable" ng-show="button.notify" ng-click="showNotification('notify')"><span>N</span></li>
        <li class="hint-bg-style white clickable" ng-show="button.hint" ng-click="showNotification('hint')"><span>H</span></li>
    </ul>
</div>
